* {
    box-sizing: border-box;
}

@font-face {
    font-family: "JetBrainsMono Nerd Font";
    src: url(fonts/JetBrainsMonoNerdFont-Medium.ttf) format("truetype");
}

body{
    margin : 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    background-color: #FAFFD8;
}

a{
    text-decoration: none;
}

.header{
    background: #FAFFD8; 
    padding: 0 15px
}

.header ul {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.header li {
    list-style: none;
    display: flex;
    align-items: center;
}

.header li a {
    color: #000;
    font-size: 25px;
    font-weight: bold;
    margin-right: 0;
}

.headdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkedin-icon,
.github-icon {
    height: 50px;
    width: 50px;
}

#cb-logo {
    height: 45px;
    width: 47px;
    margin-top: 4px;
}

.name{
    display: flex;
    align-items: center;
}

.button {
    color: #394648;
    background-color: #77A0A9;
    border-radius: 5px;
    padding: 3px;
}

.button:hover {
    color: #394648;
    background-color: #1f5663;
}

#hero{
    border: 2px solid #FAFFD8;
    border-radius: 5px;
    background-color: #77A0A9;
    color: #ECFEAA;
    text-align: left;
    line-height: 0.4;
    padding: 1px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #394648; */
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.header-logo{
    padding: 5px;
}

.mode-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

